body {
    margin: 0 auto;
}

.navbar {
    background-color: #33ccff;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.tweet-cont {
    margin: 0 auto;
    max-width: 750px;
}

ul li {
    list-style-type: none;
}

.card-img-top {
    width: 100%;
    min-height: 15vw;
    object-fit: cover;
}

.btn {
    background-color: #33ccff;
    color: white;
}
